body {
    background-image: url("../images/crystalball.jpg");
    background-size: cover;
    font-family: 'Uncial Antiqua', cursive;
}

h1 {font-size: 28px;
    color: orangered;
    border: solid white 4px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
}

p {font-size: 24px;
    color: white;
    padding: 10px;
    border: solid orangered 3px;
    border-radius: 25px;
    margin: 20px;
}

#yourGuesses {
    color: orangered;
    font-size: 40px;
}

#winsText {
    color: orangered;
    font-size: 30px;
}

#lossesText {
    color: orangered;
    font-size: 30px;
}

#guessesLeftText {
    color: orangered;
    font-size: 30px;
}

#directionsText {
    color: white;
}

#creator_tag {
    color: orangered;
    padding: 10px;
    border: solid white 3px;
    border-radius: 25px;
    margin: 20px;
    text-align: center;
}